body {
  font-family: 'Roboto', sans-serif;
  padding: 1em;
  text-align: center;
  color: #141414;
  background-color: #f2f1f1;
}

input[type="text"] {
  width: 30em;
  margin-bottom: 1em;
}

img {
  height: 64px;
  width: 64px;
}

.results-container {
  text-align: left;
  margin: auto auto;
  width: 75%;
}

.result {
  padding: .5em;
  background-color: #dfdfdf;
  margin-bottom: .5em;
}

.result a {
  vertical-align: middle;
}

.result-img {
  vertical-align: middle;
  margin-right: 1em;
}

.result-track {
  margin: .5em 0 .5em 0;
}

.followers {
  display: inline-block;
  float: right;
}

.content {
  width: 80%;
  margin: auto auto;
}

a {
  text-decoration: none;
  color: #1b9841;
  transition: all .1s linear;
}

a:hover {
  color: #57c127;
}
